.bg-top-main-image {
    height: 400px;
    background-image: url("../img/img13.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.vh-50 {
    height: 50Vh;
}

ul.list-inline {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
}

.list-inline li {
    display: inline-block;
}

.list-inline li a {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    position: relative;
}

.list-inline li a svg {
    margin-top: 4px;
    margin-left: 4px;
    position: relative;
    top: 25%;
    left: 18%;
    transform: translateY(-50%);
}

footer .row-links .links {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: block;
}